*.DS_Store
.claude/commands
/ralph-dashboard/playwright-report/index.html
/ralph-dashboard/test-results/.last-run.json
/ralph-dashboard/tsconfig.tsbuildinfo
/plans
/.claude/ralph-loop.d285a4c2-c343-467d-b144-0dceb4e960c3.local.md
/test-results
counter.txt
/test-stop-hook-promise-detection.sh
/counterglm.txt
